@charset "UTF-8";
* {margin: 0; padding: 0; box-sizing: border-box;}
        ul,li,ol{list-style: none;}
        a{text-decoration: none; color: #333;}

        header{width: 100%; height: 140px; background-color: black;}
        .hbg {width: 1205px; height: 140px; background-color: black; margin: 0 auto;}
        .logo {width: 45px; height: 50px; margin: 0 auto; float: left; margin: 40px 0 0 0;}
        nav {width: 950px; height: 25px; float: right; margin-top: 50px ;}
        .menu li a {float: left; list-style: none; padding: 0 40px; color: white;}
        nav ul li a:hover {color:rgb(204, 201, 197);}

 footer{width: 100%; height: 100%; margin: 0 auto; background-color: black;}
        .footer {width: 1000px; height: 400px; margin: 0 auto; color: white;}
        .footer a{color: white;}
        footer nav{width: 170px; height: 400px; float: left; margin: 0 20px 0 0; font-size: 14px; }
        footer nav ul .name{font-size: 18px;}
        footer nav ul{margin-top: 30px;}
        .footer4{width: 200px;}